.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 25rem;
  height: 30rem;
  border: 1px solid;
  transition: all .2s ease-in-out;
}

.card:hover{
  transform: scale(1.1);
}

.thumbnail{
  /* object-fit: contain; */
  object-fit: cover;
  height: 14rem;
  width: 100%;
}